= form_for @assignment do |f|
  - if @assignment.errors.any?
    #error_explanation
      %h2= "#{pluralize(@assignment.errors.count, "error")} prohibited this assignment from being saved:"
      %ul
        - @assignment.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :member_last_name
    - members = options_from_collection_for_select(Member.where(user_id: current_user.id).order('last_name ASC'), :id, :last_name, @assignment.member_id)

    = f.select :member_id, members, include_blank: "Choose a member"

  .field
    = f.label :committee_name
    - committees = options_from_collection_for_select(Committee.where(user_id: current_user.id), :id, :name, @assignment.committee_id)
    = f.select :committee_id, committees, include_blank: "Choose a committee"

  .field
    = f.label :committee_office
    - offices = options_from_collection_for_select(CommitteeOffice.all, :id, :name, @assignment.committee_office_id)
    = f.select :committee_office_id, offices, include_blank: "Choose a committee office"

  .actions
    = f.submit 'Save'
