%h1 Members

%table{:style => "border: 1px; width: 100%"}
  %thead
    %tr
      %th Member type
      %th Last Name
      %th First Name
      %th Committees
      %th
      %th

  %tbody
    - @members.each do |member|
      %tr
        %td= member.member_type
        %td= member.last_name
        %td= member.first_name
        %td= member.committees.pluck(:name).join("~ ")
        %td= link_to 'Show', member
        %td= link_to 'Edit', edit_member_path(member)
        %td= link_to 'Destroy', member, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Member', new_member_path
